header {
  background-color: rgb(18, 161, 18);
  padding: 20px;
  text-align: center;
}

h1 {
  color: rgb(127, 234, 200);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

a.logout {
  color: rgb(71, 71, 71);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

a.logout:hover {
  color: rgb(10, 53, 182);
  border: 2px solid black;
  padding: 3px;
}

form {
  border: 3px solid #f1f1f1;
  padding: 20px;
}

div.login {
  padding: 10px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

input {
  font-size: 150%;
}

input[type="submit"] {
  background-color: rgb(18, 161, 18);
  border-radius: 5px;
  padding: 10px;
}

a,
li {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

a:hover {
  color: rgb(18, 161, 18);
}

a.items {
  color: rgb(71, 71, 71);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  float: right;
}

ul {
  list-style: none;
  border: 3px solid #f1f1f1;
}

li {
  padding: 10px;
}
